<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- EN: Vanilla -->
  <VUIE.Vanilla>По умолчанию</VUIE.Vanilla>
  <!-- EN: Architect Menu -->
  <VUIE.Architect>Меню «Проекты»</VUIE.Architect>
  <!-- EN: Open Architect Configuration Dialog -->
  <VUIE.Architect.Open>Открыть настройку меню «Проекты»</VUIE.Architect.Open>
  <!-- EN: Group Display Type -->
  <VUIE.Architect.GroupDisplay>Тип группировки</VUIE.Architect.GroupDisplay>
  <!-- EN: Square Grid -->
  <VUIE.Architect.GroupDisplay.SquareGrid>Квадратная сетка</VUIE.Architect.GroupDisplay.SquareGrid>
  <!-- EN: Keep normal gizmo size, display a small grid of options -->
  <VUIE.Architect.GroupDisplay.SquareGrid.Desc>Сохранять нормальный размер, отображать малую сетку с выбором</VUIE.Architect.GroupDisplay.SquareGrid.Desc>
  <!-- EN: Expanding Grid -->
  <VUIE.Architect.GroupDisplay.ExpandGrid>Расширенная сетка</VUIE.Architect.GroupDisplay.ExpandGrid>
  <!-- EN: Keep grid with a max height of 2, expand width to fit -->
  <VUIE.Architect.GroupDisplay.ExpandGrid.Desc>Сохранять высоту сетки в 2 ячейки, расширять в ширину</VUIE.Architect.GroupDisplay.ExpandGrid.Desc>
  <!-- EN: Display icon of last used inner gizmo -->
  <VUIE.Architect.GroupDisplay.Vanilla.Desc>Отображать последнее использованное</VUIE.Architect.GroupDisplay.Vanilla.Desc>
  <!-- EN: Maximum grid width" -->
  <VUIE.Architect.MaxGridWidth>Максимальная ширина сетки </VUIE.Architect.MaxGridWidth>
  <!-- EN: Maximum side length -->
  <VUIE.Architect.MaxGridDepth>Максимальная длина стороны </VUIE.Architect.MaxGridDepth>
  <!-- EN: Left click open menu -->
  <VUIE.Architect.LeftClick>Левый клик открывает меню</VUIE.Architect.LeftClick>
  <!-- EN: Open selection menu on left click, by default selects the current mousedover item -->
  <VUIE.Architect.LeftClick.Desc>Открывать меню выбора на левый клик. По умолчанию он используется для выбора объектов</VUIE.Architect.LeftClick.Desc>
  <!-- EN: Architect Configurations -->
  <VUIE.Architect.Config>Настройка «Проектов»</VUIE.Architect.Config>
  <!-- EN: Active -->
  <VUIE.Active>Активна</VUIE.Active>
  <!-- EN: Set Active -->
  <VUIE.SetActive>Сделать активной</VUIE.SetActive>
  <!-- EN: Remove -->
  <VUIE.Remove>Удалить</VUIE.Remove>
  <!-- EN: Add Configuration -->
  <VUIE.Architect.AddConfig>Добавить конфигурацию</VUIE.Architect.AddConfig>
  <!-- EN: Edit Icon -->
  <VUIE.Architect.EditIcon>Редактировать значок</VUIE.Architect.EditIcon>
  <!-- EN: Float Menus -->
  <VUIE.FloatMenus>Всплывающие меню</VUIE.FloatMenus>
  <!-- EN: Show switch buttons -->
  <VUIE.FloatMenus.ShowSwitch>Показывать кнопки переключения</VUIE.FloatMenus.ShowSwitch>
  <!-- EN: Use Grid view -->
  <VUIE.FloatMenus.UseGrid>Использовать отображение сеткой</VUIE.FloatMenus.UseGrid>
  <!-- EN: Force Dialogs -->
  <VUIE.FloatMenus.ForceDialog>Отображать диалоги</VUIE.FloatMenus.ForceDialog>
  <!-- EN: Force Vanilla -->
  <VUIE.FloatMenus.ForceVanilla>Отображать по умолчанию</VUIE.FloatMenus.ForceVanilla>
  <!-- EN: Default (Dialog when &gt;30 options) -->
  <VUIE.FloatMenus.Default>По умолчанию (диалог, если &gt;30 опций)</VUIE.FloatMenus.Default>
  <!-- EN: Export -->
  <VUIE.Export>Экспортировать</VUIE.Export>
  <!-- EN: Import -->
  <VUIE.Import>Импортировать</VUIE.Import>
  <!-- EN: Misc -->
  <VUIE.Misc>Разное</VUIE.Misc>
  <!-- EN: Show impact on capacities -->
  <VUIE.Misc.ShowImpact>Показывать влияние на способности</VUIE.Misc.ShowImpact>
  <!-- EN: In the tooltip when hovering over a pawn's capacity (breathing, moving, etc.), also show how much each item contributes to the capacity. -->
  <VUIE.Misc.ShowImpact.Desc>При наведении на способность персонажа (дыхание, движение и т.д.) появится всплывающая подсказка с влиянием каждого предмета на текущую способность.</VUIE.Misc.ShowImpact.Desc>
  <!-- EN: Overlays -->
  <VUIE.Overlays>Отображения</VUIE.Overlays>
  <!-- EN: Enabled at all -->
  <VUIE.Enabled>Включить</VUIE.Enabled>
  <!-- EN: Move Overlays to new tab -->
  <VUIE.Overlays.Move>Переместить отображения на новую вкладку</VUIE.Overlays.Move>
  <!-- EN: Show numbers -->
  <VUIE.Overlays.ShowNumbers>Показывать значения</VUIE.Overlays.ShowNumbers>
  <!-- EN: If false, show colored cells like the fertility overlay. If true, show numbers near the cursor like the vanilla beauty overlay. -->
  <VUIE.Overlays.ShowNumbers.Desc>Если отключено, значения отображаются цветом (как у плодородности). Если включено, значения отображаются числами вокруг курсора (как у красоты).</VUIE.Overlays.ShowNumbers.Desc>
  <!-- EN: Use glow color -->
  <VUIE.Overlays.UseColor>Использовать цвет свечения</VUIE.Overlays.UseColor>
  <!-- EN: If false, color will be between green and red, the brighter it is the more green. -->
  <VUIE.Overlays.UseColor.Desc>Если отключено, цвет будет возрастать от красного к зелёному.</VUIE.Overlays.UseColor.Desc>
  <!-- EN: Show automatically -->
  <VUIE.Overlays.Autoshow>Отображать автоматически</VUIE.Overlays.Autoshow>
  <!-- EN: Do favorite debug actions -->
  <VUIE.Debug.Favorites>Выполнить избранные действия из меню отладки</VUIE.Debug.Favorites>
  <!-- EN: Debug Action Menu -->
  <VUIE.Debug.ActionMenu>Меню отладки</VUIE.Debug.ActionMenu>
  <!-- EN: Hide items that don't match search -->
  <VUIE.Debug.HideNotMatch>Скрыть предметы, не соответствующие поисковому запросу</VUIE.Debug.HideNotMatch>
  <!-- EN: Mod Integrations -->
  <VUIE.ModCompat>Интеграция модов</VUIE.ModCompat>
  <!-- EN: TD Enhancement Pack Integration -->
  <VUIE.ModCompat.TD>Интеграция «TD Enhancement Pack»</VUIE.ModCompat.TD>
  <!-- EN: Example: -->
  <VUIE.Architect.Example>Пример:</VUIE.Architect.Example>
  <!-- EN: Architect Configuration Disabled: Must be in-game to edit. -->
  <VUIE.Architect.Disabled.NotPlaying>Настройка меню «Проекты» заблокирована: нужно быть в игре.</VUIE.Architect.Disabled.NotPlaying>
  <!-- EN: Architect Configuration Disabled: Cannot edit the vanilla configuration. -->
  <VUIE.Architect.Disabled.Vanilla>Настройка меню «Проекты» заблокирована: нельзя изменять конфигурацию по умолчанию.</VUIE.Architect.Disabled.Vanilla>
  <!-- EN: Cannot remove vanilla configuration. -->
  <VUIE.Architect.Disabled.RemoveVanilla>Нельзя удалить конфигурацию по умолчанию.</VUIE.Architect.Disabled.RemoveVanilla>
  <!-- EN: Gather Unassigned -->
  <VUIE.Architect.Gather>Собрать неназначенные</VUIE.Architect.Gather>
  <!-- EN: Find all designators that are not present in the current configuration and add them here. -->
  <VUIE.Architect.Gather.Desc>Найти все указатели, которые не представлены в текущей конфигурации и добавить их в неё.</VUIE.Architect.Gather.Desc>
  <!-- EN: Bottom Buttons -->
  <VUIE.MainButtons>Кнопки снизу</VUIE.MainButtons>
  <!-- EN: Reset bottom buttons to vanilla -->
  <VUIE.MainButtons.Reset>Сбросить кнопки снизу до изначальных</VUIE.MainButtons.Reset>
  <!-- EN: This action requires a restart of the game. Restart now? -->
  <VUIE.ConfirmRestart.Desc>Это действие потребует перезапуска игры. Перезапустить?</VUIE.ConfirmRestart.Desc>
  <!-- EN: Confirm Restart Game -->
  <VUIE.ConfirmRestart>Подтвердить перезапуск игры</VUIE.ConfirmRestart>
  <!-- EN: Enable all -->
  <VUIE.Overlays.EnableAll>Включить всё</VUIE.Overlays.EnableAll>
  <!-- EN: Disable all -->
  <VUIE.Overlays.DisabledAll>Отключить всё</VUIE.Overlays.DisabledAll>
  <!-- EN: Disable the overlays system in TD Enhancement Pack in favor of the ones in Vanilla UI Expanded. Requires restart to take effect. -->
  <VUIE.ModCompat.TD.Desc>Отказаться от системы отображений из TD Enhancement Pack в пользу системы из Vanilla UI Expanded. Для изменения потребуется перезапуск игры.</VUIE.ModCompat.TD.Desc>
  <!-- EN: By default, RimWorld simply highlights search matches in debug action menus. With this setting on, they will instead be completely hidden. May increase performance when searching with lots of options. -->
  <VUIE.Debug.HideNotMatch.Desc>По умолчанию игра просто выделяет искомые действия в меню отладки. Эта настройка позволяет скрыть всё, что не удовлетворяет поисковому запросу. Она может увеличить производительность при поиске среди большого количества действий.</VUIE.Debug.HideNotMatch.Desc>
</LanguageData>