<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- EN: VRE - Hussar -->
  <VRE_HussarsSettings>VRE - Hussar</VRE_HussarsSettings>

  <!-- EN: Aptitudes are only for vanilla weapons -->
  <VREH_Label_onlyVanillaWeapon>Предрасположенности только для стандартного оружия</VREH_Label_onlyVanillaWeapon>
  <!-- EN: If enabled, weapon aptitudes genes will not be generated for mods.\n\nA restart is required. -->
  <VREH_ToolTip_onlyVanillaWeapon>Если включена, гены предрасположенностей к оружию не будут генерироваться для оружия из модов.\n\nДля применения необходим перезапуск игры.</VREH_ToolTip_onlyVanillaWeapon>

  <!-- EN: Allow non-biocodable weapon -->
  <VREH_Label_allowNonBiocodableWeapon>Разрешить не биокодированное оружие</VREH_Label_allowNonBiocodableWeapon>
  <!-- EN: If disabled, genes will not be generated for non-biocodable weapons.\n\nA restart is required. -->
  <VREH_ToolTip_allowNonBiocodableWeapon>Если выключена, гены не будут генерироваться для не-биокодированного оружия.\n\nДля применения необходим перезапуск игры.</VREH_ToolTip_allowNonBiocodableWeapon>
</LanguageData>