<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<!-- EN: Springbok -->
	<VVE_Springbok_Blueprint.label>«Антилопа»</VVE_Springbok_Blueprint.label>
	<!-- EN: A general all-rounder vehicle, the Springbok performs well in all categories with a good cargo and passenger capacity. The old, robust build and loud engine negatively affect its fuel efficiency and visibility. Best suited on flat roads and will struggle somewhat on hills, snow or winter tiles.\n\nA slightly worse performer compared to tier 2 vehicles, it is instead a stylish vehicle to drive and will provide a mood boost to all passengers. -->
	<VVE_Springbok_Blueprint.description>Будучи универсальным автомобилем, «Антилопа» обладает сравнительно неплохой грузоподъёмностью и вмещает достаточное количество пассажиров, чтобы составить конкуренцию другим машинам своего уровня. Эта машина — типичный представитель «старой школы» автомобилестроения, что проявляется в высокой прочности конструкции, характерном звуке двигателя, а также в повышенном потреблении топлива. «Антилопа» лучше всего показывает себя на ровных дорогах и может испытывать затруднения при езде по снегу или пересечённой местности.\n\nБудучи несколько слабее других автомобилей того же класса, и даже некоторых авто второго уровня, «Антилопа», тем не менее, невероятно стильная машина, находиться в которой — одно удовольствие.</VVE_Springbok_Blueprint.description>
</LanguageData>