<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- EN: General -->
  <VEF_GeneralTitle>Основные</VEF_GeneralTitle>

  <!-- EN: Custom structure generation: -->
  <CSGTitle>Создание пользовательской структуры:</CSGTitle>
  <!-- EN: Enable structure generation debugging log:  -->
  <CSGLog>Включить лог отладки пользовательских структур: </CSGLog>

  <!-- EN: Toggable patches -->
  <VEF_TPTitle>Включение исправлений</VEF_TPTitle>
  <!-- EN: All settings need a restart to be applied -->
  <NeedRestart>Все настройки требуют перезапуска игры для применения</NeedRestart>
  <!-- EN: {0} patches found -->
  <XPatchFound>Найдено {0} исправлений</XPatchFound>

  <!-- EN: >Weather damages -->
	<VEF.WeatherDamages>Урон от погоды</VEF.WeatherDamages>
  <!-- EN: {0} -->
	<VEF.EnableWeatherDamage>{0}</VEF.EnableWeatherDamage>

  <!-- EN: Faction Discovery -->
  <FDTitle>Обнаружение фракций</FDTitle>
  <!-- EN: You first need to load a save -->
  <NeedToBeInGame>Для начала необходимо загрузить сохранение</NeedToBeInGame>
  <!-- EN: Add faction(s) -->
  <AskForPopUp>Добавить фракцию</AskForPopUp>
  <!-- EN: Click this to be asked for each faction if you want it to be added to your game -->
  <AskForPopUpExplained>Нажать сюда, чтобы игра спрашивала о каждой фракции, которая может быть добавлена в игру</AskForPopUpExplained>
  <!-- EN: {0} faction(s) can be added to your current save -->
  <CanAddXFaction>В сохранение было добавлено {0_numCase ? фракция : фракции : фракций}</CanAddXFaction>

  <!-- EN: Disable mod source report in info cards -->
  <VEF.DisableModSourceReport>Отключить сообщения об источниках модов на информационной панели</VEF.DisableModSourceReport>
  
  <!-- EN: Search:  -->
  <VEF.Shields.Search>Поиск: </VEF.Shields.Search>  
  <!-- EN: Reset mod settings to default -->
	<VEF.Shields.ResetModSettingsToDefault>Сбросить настройки мода</VEF.Shields.ResetModSettingsToDefault>  
  <!-- EN: Set weapons to be usable or not usable with shields. -->
	<VEF.Shields.ExplanationTitle>Отметить оружие доступным со щитами.</VEF.Shields.ExplanationTitle>  
  <!-- EN: Show melee weapons -->
	<VEF.Shields.ShowMeleeWeapons>Оружие ближнего боя</VEF.Shields.ShowMeleeWeapons>  
  <!-- EN: Show range weapons -->
	<VEF.Shields.ShowRangeWeapons>Оружие дальнего боя</VEF.Shields.ShowRangeWeapons>

  <!-- EN: Disable Texture Caching -->
  <VEF_DisableTextureCaching>Отключить кеширование текстур</VEF_DisableTextureCaching>
  <!-- EN: Enable PipeSystem no storage alert -->
	<VEF_EnablePipeSystemNoStorageAlert>Включить сообщение PipeSystem об отсутствующем хранилище</VEF_EnablePipeSystemNoStorageAlert>
  <!-- EN: Faction Discovery -->
	<VEF_FactionDiscovery>Faction Discovery</VEF_FactionDiscovery>
  <!-- EN: Custom Structure Generation: -->
	<VEF_CustomStructureGeneration>Генерация пользовательских структур:</VEF_CustomStructureGeneration>
  <!-- EN: Texture Variations: -->
	<VEF_TextureVariations>Варианты текстур:</VEF_TextureVariations>
  <!-- EN: Verbose logging -->
	<VEF_VerboseLogging>Подробный журнал</VEF_VerboseLogging>
  <!-- EN: Unforbid mined ores -->
	<VEF_UnforbidMinedOres>Разрешать добытые руды</VEF_UnforbidMinedOres>
  <!-- EN: Never -->
	<VEF_Never>Нигде</VEF_Never>
  <!-- EN: Home Area -->
	<VEF_HomeArea>Домашняя область</VEF_HomeArea>
  <!-- EN: Always -->
	<VEF_Always>Везде</VEF_Always>
  <!-- EN: Never unforbid mined ores (this is how the base game works for non-human pawns, such as animals and mechs) -->
	<VEF_NeverDesc>Нигде не разрешать добытую руду (так работает базовая игра для поселенцев не-людей, таких как животные и механоиды)</VEF_NeverDesc>
  <!-- EN: Ores mined by pawns are only unforbidden if mined in the home area -->
	<VEF_HomeAreaDesc>Руда, добытая поселенцами, разрешена только если добыта в домашней области</VEF_HomeAreaDesc>
  <!-- EN: Ores mined by pawns are always unforbidden -->
	<VEF_AlwaysDesc>Руда, добытая поселенцами, всегда разрешена</VEF_AlwaysDesc>
</LanguageData>