<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <!-- EN: Springbok -->
	<VVE_Springbok.label>«Антилопа»</VVE_Springbok.label>
    <!-- EN: A general all-rounder vehicle, the Springbok performs well in all categories with a good cargo and passenger capacity. The old, robust build and loud engine negatively affect its fuel efficiency and visibility. Best suited on flat roads and will struggle somewhat on hills, snow or winter tiles.\n\nA slightly worse performer compared to tier 2 vehicles, it is instead a stylish vehicle to drive and will provide a mood boost to all passengers. -->
	<VVE_Springbok.description>Будучи универсальным автомобилем, «Антилопа» обладает сравнительно неплохой грузоподъёмностью и вмещает достаточное количество пассажиров, чтобы составить конкуренцию другим машинам своего уровня. Эта машина — типичный представитель «старой школы» автомобилестроения, что проявляется в высокой прочности конструкции, характерном звуке двигателя, а также в повышенном потреблении топлива. «Антилопа» лучше всего показывает себя на ровных дорогах и может испытывать затруднения при езде по снегу или пересечённой местности.\n\nБудучи несколько слабее других автомобилей того же класса, и даже некоторых авто второго уровня, «Антилопа», тем не менее, невероятно стильная машина, находиться в которой — одно удовольствие.</VVE_Springbok.description>

    <!-- EN: Driver -->
	<VVE_Springbok.properties.roles.0.label>Водитель</VVE_Springbok.properties.roles.0.label>
    <!-- EN: Passenger -->
	<VVE_Springbok.properties.roles.1.label>Пассажир</VVE_Springbok.properties.roles.1.label>
    <!-- EN: Engine -->
	<VVE_Springbok.components.0.label>Двигатель</VVE_Springbok.components.0.label>
    <!-- EN: Front Left Wheel -->
	<VVE_Springbok.components.1.label>Переднее левое колесо</VVE_Springbok.components.1.label>
    <!-- EN: Front Right Wheel -->
	<VVE_Springbok.components.2.label>Переднее правое колесо</VVE_Springbok.components.2.label>
    <!-- EN: Back Left Wheel -->
	<VVE_Springbok.components.3.label>Заднее левое колесо</VVE_Springbok.components.3.label>
    <!-- EN: Back Right Wheel -->
	<VVE_Springbok.components.4.label>Заднее правое колесо</VVE_Springbok.components.4.label>
    <!-- EN: Front Left Suspension -->
	<VVE_Springbok.components.5.label>Передняя левая подвеска</VVE_Springbok.components.5.label>
    <!-- EN: Front Right Suspension -->
	<VVE_Springbok.components.6.label>Передняя правая подвеска</VVE_Springbok.components.6.label>
    <!-- EN: Back Left Suspension -->
	<VVE_Springbok.components.7.label>Задняя левая подвеска</VVE_Springbok.components.7.label>
    <!-- EN: Back Right Suspension -->
	<VVE_Springbok.components.8.label>Задняя правая подвеска</VVE_Springbok.components.8.label>
    <!-- EN: Gearbox -->
	<VVE_Springbok.components.9.label>Коробка передач</VVE_Springbok.components.9.label>
    <!-- EN: Left Side Panel -->
	<VVE_Springbok.components.10.label>Левая боковая панель</VVE_Springbok.components.10.label>
    <!-- EN: Right Side Panel -->
	<VVE_Springbok.components.11.label>Правая боковая панель</VVE_Springbok.components.11.label>
    <!-- EN: Chemtank -->
	<VVE_Springbok.components.12.label>Химтопливный бак</VVE_Springbok.components.12.label>
    <!-- EN: Front Bumper -->
	<VVE_Springbok.components.13.label>Передний бампер</VVE_Springbok.components.13.label>
    <!-- EN: Rear Bumper -->
	<VVE_Springbok.components.14.label>Задний бампер</VVE_Springbok.components.14.label>
    <!-- EN: Upholstery -->
	<VVE_Springbok.components.15.label>Обивка</VVE_Springbok.components.15.label>
    <!-- EN: Dashboard -->
	<VVE_Springbok.components.16.label>Приборная панель</VVE_Springbok.components.16.label>
    <!-- EN: Steering Wheel -->
	<VVE_Springbok.components.17.label>Руль</VVE_Springbok.components.17.label>
    <!-- EN: Alternator -->
	<VVE_Springbok.components.18.label>Генератор переменного тока</VVE_Springbok.components.18.label>
    <!-- EN: Hood -->
	<VVE_Springbok.components.19.label>Капот</VVE_Springbok.components.19.label>
    <!-- EN: Roof -->
	<VVE_Springbok.components.20.label>Крыша</VVE_Springbok.components.20.label>
</LanguageData>