<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- EN: Vanilla Psycasts Expanded -->
  <VanillaPsycastsExpanded>Vanilla Psycasts Expanded</VanillaPsycastsExpanded>
  <!-- EN: Psycaster XP per Psyfocus % gained -->
  <VPE.XPPerPercent>Количество ОП псионика за процент от пси-концентрации</VPE.XPPerPercent>
  <!-- EN: Basilicus Bestower Psycaster spawn chance -->
  <VPE.PsycasterSpawnBaseChance>Вероятность появление псиоников при игре с Базиликусом Благодарящим</VPE.PsycasterSpawnBaseChance>
  <!-- EN: Basilicus Bestower Psycaster strength factor -->
  <VPE.PsycasterSpawnAdditional>Сила псиоников при игре с Базиликусом Благодарящим</VPE.PsycasterSpawnAdditional>
</LanguageData>