<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- EN: VFE - Deserters -->
  <VFEDeserters>VFE - Deserters</VFEDeserters>
  <!-- EN: Visibility change per day: {0} -->
  <VFED.VisibilityChangePerDay>Изменение заметности в день: {0}</VFED.VisibilityChangePerDay>
  <!-- EN: Intel from extracting intel: {0} -->
  <VFED.IntelFromExtractingIntel>Количество получаемых разведданных в результате извлечения: {0}</VFED.IntelFromExtractingIntel>
  <!-- EN: Visibility gain from surveillance pillar: {0} -->
  <VFED.VisibilityFromPillar>Повышение заметности от мачт слежения: {0}</VFED.VisibilityFromPillar>
  <!-- EN: Response time multiplier: {0} -->
  <VFED.ResponseTimeMultiplier>Множитель времени реакции Империи: {0}</VFED.ResponseTimeMultiplier>
</LanguageData>