<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <SyrTraitsSettingsCategory>Individuality</SyrTraitsSettingsCategory>
  
  <SyrTraitsTraitCount>Количество черт по умолчанию</SyrTraitsTraitCount>
  <SyrTraitsDisabled>Модуль «Романы» отключен, потому что</SyrTraitsDisabled>
  <SyrTraitsDisabledPsychology>мод «Psychology» активен</SyrTraitsDisabledPsychology>
  <SyrTraitsDisabledRationalRomance>мод «Rational Romance» активен</SyrTraitsDisabledRationalRomance>
  <SyrTraitsDisableRomance>Отключить модуль «Романы»</SyrTraitsDisableRomance>
  <SyrTraitsDisableRomanceTooltip>Отключить эффекты от сексуальной ориентации и открытости</SyrTraitsDisableRomanceTooltip>
  <SyrTraitsSexualityCommonality>Сексуальная ориентация</SyrTraitsSexualityCommonality>
  <SyrTraitsSexualityCommonalityStraight>Гетеросексуал</SyrTraitsSexualityCommonalityStraight>
  <SyrTraitsSexualityCommonalityBi>Бисексуал</SyrTraitsSexualityCommonalityBi>
  <SyrTraitsSexualityCommonalityGay>Гомосексуал</SyrTraitsSexualityCommonalityGay>
  <SyrTraitsSexualityCommonalityAsexual>Асексуал</SyrTraitsSexualityCommonalityAsexual>
  <SyrTraitsDefaultSettings>Сбросить</SyrTraitsDefaultSettings>
  <SyrTraitsDefaultSettingsTooltip>Вернуть настройки по умолчанию</SyrTraitsDefaultSettingsTooltip>
  
  <IndividualityWindow>Индивидуальность</IndividualityWindow>
  <IndividualityTooltip>Посмотреть личность</IndividualityTooltip>
  <SexualityPawn>Сексуальная ориентация</SexualityPawn>
  <SexualityPawnTooltip>Определяет привлекательность того или иного пола</SexualityPawnTooltip>
  <RomanceFactor>Открытость</RomanceFactor>
  <RomanceFactorTooltip>Определяет вероятность попытки завести любовные отношения</RomanceFactorTooltip>
  <PsychicFactor>Психочувствительность</PsychicFactor>
  <PsychicFactorTooltip>Врождённая чувствительность к психическим явлениям</PsychicFactorTooltip>
  <BodyWeight>Вес</BodyWeight>
  <BodyWeightTooltip>Вес персонажа</BodyWeightTooltip>
  <SyrIndividuality_EditModeOn>Включить редактирование</SyrIndividuality_EditModeOn>
  <SyrIndividuality_EditModeOff>Выключить редактирование</SyrIndividuality_EditModeOff>
  <SyrIndividuality_EditModeTooltip>Левый клик для увеличения, правый для уменьшения</SyrIndividuality_EditModeTooltip>
  <BodyWeightOffset>Телосложение</BodyWeightOffset>
  <SyrTraitsDaVinciGene>Потомок да Винчи</SyrTraitsDaVinciGene>
  <SyrTraitsSlowLearnerLabel>Медленный ученик</SyrTraitsSlowLearnerLabel>
  <SyrTraitsSlowLearner>Бонус от навыков</SyrTraitsSlowLearner>

</LanguageData>