<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

  <!-- EN: Main -->
  <VF_MainSettings>Основные настройки</VF_MainSettings>

  <!-- Misc. -->
  <!-- EN: Search... -->
  <VF_ListSearchText>Поиск...</VF_ListSearchText>
  <!-- EN: Settings have been locked for this vehicle and cannot be modified. -->
  <VF_SettingsDisabledTooltip>Настройки для данного ТС были заблокированы и потому не могут быть изменены.</VF_SettingsDisabledTooltip>
  <!-- EN: This vehicle cannot be upgraded. -->
  <VF_NonUpgradeableSettingsTooltip>Это транспортное средство не может быть улучшено.</VF_NonUpgradeableSettingsTooltip>
  <!-- EN: Change default pattern -->
  <VF_RecolorDefaultMaskTooltip>Сменить узор по умолчанию.</VF_RecolorDefaultMaskTooltip>

  <!-- World & Map Generation -->
  <!-- EN: World/Map Generation -->
  <VF_WorldMapGen>Генерация мира/карты</VF_WorldMapGen>
  <!-- EN: Beach Size Multiplier -->
  <VF_BeachGenMultiplier>Множитель размера пляжа</VF_BeachGenMultiplier>
  <!-- EN: Increase the amount of water on the coastline. -->
  <VF_BeachGenMultiplierTooltip>Увеличить количество воды у побережья.</VF_BeachGenMultiplierTooltip>
  <!-- EN: River Size Multiplier -->
  <VF_RiverGenMultiplier>Множитель размера рек</VF_RiverGenMultiplier>
  <!-- EN: Increase the width of rivers on maps. -->
  <VF_RiverGenMultiplierTooltip>Увеличить ширину рек на картах.</VF_RiverGenMultiplierTooltip>
  <!-- EN: Push Settlement to Coast -->
  <VF_ForceSettlementCoast>Сдвинуть поселение</VF_ForceSettlementCoast>
  <!-- EN: Push nearby faction settlements to the coast if within given radius -->
  <VF_ForceSettlementCoastTooltip>Переместить близлежащие поселения фракций к побережью, если они находятся на указанном расстоянии от воды.</VF_ForceSettlementCoastTooltip>
  <!-- EN: Every Settlement -->
  <VF_EverySettlementToCoast>Каждое поселение</VF_EverySettlementToCoast>
  <!-- EN: tiles -->
  <VF_WorldTiles>клетки мира</VF_WorldTiles>

  <!-- General Settings -->
  <!-- EN: General -->
  <VF_SettingsGeneral>Общие настройки</VF_SettingsGeneral>
  <!-- EN: This action requires a restart to take effect. -->
  <VF_WillRequireRestart>Это действие требует перезапуска игры.</VF_WillRequireRestart>
  <!-- EN: Modifiable Settings -->
  <VF_ModifiableSettings>Изменяемые параметры</VF_ModifiableSettings>
  <!-- EN: Toggle Modifiable Settings. Restarting with this disabled will bypass generation of modifiable settings.
	
Determines whether Vehicles should use values from the mod settings or Defs -->
  <VF_ModifiableSettingsTooltip>Переключение изменяемости параметров. При запуске игры, когда эта опция отключена, создание изменяемых настроек будет пропущено.\n\nОпределяет, должны ли транспортные средства использовать значения из настроек этого фреймворка или из определений (Defs) модов.</VF_ModifiableSettingsTooltip>
  <!-- EN: Use RGB Shaders -->
  <VF_CustomShaders>Использовать RGB шейдеры</VF_CustomShaders>
  <!-- EN: Enable use of custom shaders provided by the framework. -->
  <VF_CustomShadersTooltip>Включение пользовательских шейдеров, поддерживаемых этим фреймворком.</VF_CustomShadersTooltip>
  <!-- EN: Allow Diagonal Rendering -->
  <VF_DiagonalVehicleRendering>Диагональное отображение</VF_DiagonalVehicleRendering>
  <!-- EN: Vehicles that support diagonal rendering will do so when set to diagonal rotations (NorthEast, SouthEast, SouthWest, NorthWest) -->
  <VF_DiagonalVehicleRenderingTooltip>Транспортные средства, которые поддерживают диагональное отображение, будут отрисовываться соответствующим образом при движении по диагонали. (NorthEast, SouthEast, SouthWest, NorthWest)</VF_DiagonalVehicleRenderingTooltip>

  <!-- EN: Full Vehicle Pathing -->
  <VF_FullVehiclePathing>Учитывать размер ТС</VF_FullVehiclePathing>
  <!-- EN: Use the entire hitbox of the vehicle when determining shortest path. Vehicle will still be constrained by its size. -->
  <VF_FullVehiclePathingTooltip>Использовать весь хитбокс транспорта при определении кратчайшего пути. ТС по-прежнему будет ограничен своими габаритами.</VF_FullVehiclePathingTooltip>
  <!-- EN: Smooth Vehicle Paths -->
  <VF_SmoothVehiclePathing>Сглаженные траектории движения</VF_SmoothVehiclePathing>
  <!-- EN: Vehicle pathing will have an additional "turn" cost, preventing unnecessary zig zag patterns from shortest path. -->
  <VF_SmoothVehiclePathingTooltip>Прокладка маршрута ТС будет иметь дополнительную стоимость поиска пути на поворотах, что позволит избежать ненужных зигзагообразных траекторий при выборе кратчайшего маршрута.</VF_SmoothVehiclePathingTooltip>
  <!-- EN: Hierarchal Pathfinding (Experimental) -->
  <VF_HierarchalPathfinding>Иерархический поиск пути (эксперимент.)</VF_HierarchalPathfinding>
  <!-- EN: Use HPA* instead of A* for faster pathfinding. Sacrifices a small amount of pathfinding accuracy for substantially faster pathfinding across large distances. -->
  <VF_HierarchalPathfindingTooltip>Использовать HPA* (иерархический поиск пути) вместо A* для ускорения прокладывания траектории движения. За счёт небольшого снижения точности, достигается значительное ускорение поиска пути на больших расстояниях.</VF_HierarchalPathfindingTooltip>

  <!-- EN: Biome Cost on Roads -->
  <VF_RoadBiomeCostPathing>Влияние биома на дороги</VF_RoadBiomeCostPathing>
  <!-- EN: Vehicle Caravans moving over roads on the world map are still affected by biome path costs. -->
  <VF_RoadBiomeCostPathingTooltip>На караваны с транспортом, перемещающиеся по дорогам на карте мира, будет по-прежнему влиять сложность пути по конкретному типу биома.</VF_RoadBiomeCostPathingTooltip>
  <!-- EN: Multi-Pawn Jobs -->
  <VF_MultiplePawnsPerJob>Одновременная работа</VF_MultiplePawnsPerJob>
  <!-- EN: Allows vehicle related jobs to allow more than 1 pawn to reserve and work on it. Max allowed pawns determined by modders. -->
  <VF_MultiplePawnsPerJobTooltip>Позволить нескольким поселенцам одновременно заниматься ремонтом и обслуживанием транспортного средства. Максимальное число поселенцев определяется величинами, заданными мододелами.</VF_MultiplePawnsPerJobTooltip>
  <!-- EN: Hide Disabled Vehicles -->
  <VF_HideDisabledVehicles>Скрыть отключенный транспорт</VF_HideDisabledVehicles>
  <!-- EN: Disabled vehicles from the mod settings will be hidden in architect menu. -->
  <VF_HideDisabledVehiclesTooltip>Отключенные в настройках мода транспортные средства будут скрыты в меню «Проекты».</VF_HideDisabledVehiclesTooltip>

  <!-- Performance -->
  <!-- EN: Performance -->
  <VF_PerformanceSettings>Производительность</VF_PerformanceSettings>
  <!-- EN: Passive Water Waves -->
  <VF_PassiveWaterWaves>Пассивные волны на воде</VF_PassiveWaterWaves>
  <!-- EN: Generate passive waves when boat is idle. -->
  <VF_PassiveWaterWavesTooltip>Генерировать круги на воде вокруг судна, когда оно простаивает.</VF_PassiveWaterWavesTooltip>
  <!-- EN: Aerial Vehicle Effects -->
  <VF_AerialVehicleEffects>Эффекты воздушного транспорта</VF_AerialVehicleEffects>
  <!-- EN: When aerial vehicles takeoff and land, spawn flecks and render overlay textures. -->
  <VF_AerialVehicleEffectsTooltip>Включить отрисовку декоративных частиц (flecks) и наложенных текстур (overlay textures) при взлёте и посадке летательных аппаратов.</VF_AerialVehicleEffectsTooltip>

  <!-- Multipliers -->
  <!-- EN: Vehicle Damage -->
  <VF_VehicleDamageMultipliers>Урон транспортному средству</VF_VehicleDamageMultipliers>
  <!-- EN: Melee Damage Multiplier -->
  <VF_MeleeDamageMultiplier>Урон от оружия ближн. боя</VF_MeleeDamageMultiplier>
  <!-- EN: Ranged Damage Multiplier -->
  <VF_RangedDamageMultiplier>Урон от оружия дальн. боя</VF_RangedDamageMultiplier>
  <!-- EN: Explosive Damage Multiplier -->
  <VF_ExplosiveDamageMultiplier>Урон от взрывов</VF_ExplosiveDamageMultiplier>

  <!-- VehicleTurrets -->
  <!-- EN: Vehicle Turrets -->
  <VF_VehicleTurrets>Турели на транспорте</VF_VehicleTurrets>
  <!-- EN: Turret Overheating -->
  <VF_TurretOverheatMechanics>Перегрев турелей</VF_TurretOverheatMechanics>
  <!-- EN: Some turrets have overheat mechanics to prevent nonstop firing without consequences. Keep this enabled? -->
  <VF_TurretOverheatMechanicsTooltip>В некоторых турелях предусмотрена механика перегрева, предотвращающая безостановочную стрельбу для избежания последствий. Оставить эту настройку включенной?</VF_TurretOverheatMechanicsTooltip>

  <!-- Land Vehicles (none right now)-->

  <!-- Sea Vehicles -->
  <!-- EN: Fishing -->
  <VF_Fishing>Рыбалка</VF_Fishing>
  <!-- EN: Fishing (Inactive) -->
  <VF_FishingInactive>Рыбалка (Отключено)</VF_FishingInactive>
  <!-- EN: Fishing Multiplier -->
  <VF_FishingMultiplier>Множитель размера улова</VF_FishingMultiplier>
  <!-- EN: Adjust the amount of fish gathered from fishing boat. -->
  <VF_FishingMultiplierTooltip>Количество рыбы, получаемой в процессе рыбной ловли.</VF_FishingMultiplierTooltip>
  <!-- EN: Fishing Delay -->
  <VF_FishingDelay>Длит. рыбалки</VF_FishingDelay>
  <!-- EN: Base amount of ticks it takes to gather fish on a fishing boat. -->
  <VF_FishingDelayTooltip>Количество времени (ticks), необходимое для ловли рыбы на рыболовном судне.</VF_FishingDelayTooltip>
  <!-- EN: Fishing Skill -->
  <VF_FishingSkill>Рыболовный навык</VF_FishingSkill>
  <!-- EN: How much exp is given by fishing on a boat -->
  <VF_FishingSkillTooltip>Количество опыта, которое даёт ловля рыбы на рыболовном судне.</VF_FishingSkillTooltip>
  <!-- EN: Fishing Persists -->
  <VF_FishingPersists>Сохранять настройки рыбалки</VF_FishingPersists>
  <!-- EN: The Fishing Boat fishing selection will not reset upon drafting. -->
  <VF_FishingPersistsTooltip>Настройки рыбалки не сбрасываются при запуске двигателя.</VF_FishingPersistsTooltip>

  <!-- Aerial Vehicles -->
  <!-- EN: Air -->
  <VF_AerialVehicles>Воздушные ТС</VF_AerialVehicles>
  <!-- EN: Draw Landing Spot -->
  <VF_DrawLandingGhost>Отображать место приземления</VF_DrawLandingGhost>
  <!-- EN: Draws a transparent 'blueprint' where an aerial vehicle is landing. -->
  <VF_DrawLandingGhostTooltip>Отображать полупрозрачный силуэт ТС на месте приземления.</VF_DrawLandingGhostTooltip>
  <!-- EN: Rockets Burn -->
  <VF_RocketsBurnRadius>Огонь от сопел</VF_RocketsBurnRadius>
  <!-- EN: Allow aerial vehicles which support this feature to burn all things within a small radius upon takeoff and landing. -->
  <VF_RocketsBurnRadiusTooltip>Разрешить летательным аппаратам, поддерживающим эту функцию, при взлёте и посадке поджигать все предметы в небольшом радиусе.</VF_RocketsBurnRadiusTooltip>
  <!-- EN: Dynamic Drawing -->
  <VF_DynamicDrawing>Динамическое отображение</VF_DynamicDrawing>
  <!-- EN: Render aerial vehicles on the world map when zoomed in. -->
  <VF_DynamicDrawingTooltip>Показывать изображение воздушного ТС при приближении камеры на карте мира.</VF_DynamicDrawingTooltip>
  <!-- EN: Deploy on Landing -->
  <VF_DeployOnLanding>Выгрузка при посадке</VF_DeployOnLanding>
  <!-- EN: When an aerial vehicle lands all pawns onboard will be unloaded. -->
  <VF_DeployOnLandingTooltip>Когда воздушное ТС приземлится, все персонажи на борту будут высажены.</VF_DeployOnLandingTooltip>
  <!-- EN: Delay on Landing -->
  <VF_DelayOnLanding>Отложенная высадка</VF_DelayOnLanding>
  <!-- EN: When an aerial vehicle lands the deployment of all pawns will be delayed. -->
  <VF_DelayOnLandingTooltip>При посадке летательного аппарата выгрузка всех персонажей происходит с задержкой.</VF_DelayOnLandingTooltip>
  <!-- EN: seconds -->
  <VF_DelaySeconds>секунд</VF_DelaySeconds>
  <!-- EN: Air Defenses -->
  <VF_AirDefensesActive>Противовоздушная оборона</VF_AirDefensesActive>
  <!-- EN: Certain world objects are able to utilize air defenses to shoot down nearby aircraft. -->
  <VF_AirDefensesActiveTooltip>Некоторые объекты на карте мира смогут использовать средства противовоздушной обороны, чтобы сбивать находящиеся поблизости летательные аппараты.</VF_AirDefensesActiveTooltip>

  <!-- Combat -->
  <!-- EN: Combat -->
  <VF_CombatSettings>Бой</VF_CombatSettings>
  <!-- EN: Reduce Explosions on Water -->
  <VF_ShellExplosionsOnWater>Ослабление взрывов над водой</VF_ShellExplosionsOnWater>
  <!-- EN: Explosive shells over water have their explosion radius reduced and sound effect changed to a splash. -->
  <VF_ShellExplosionsOnWaterTooltip>Уменьшение радиуса взрыва снарядов над водой и изменение звукового эффекта на всплеск.</VF_ShellExplosionsOnWaterTooltip>
  <!-- EN: Run Over Pawns -->
  <VF_RunOverPawns>Наезд на персонажей</VF_RunOverPawns>
  <!-- EN: Vehicles can run over pawns and apply blunt damage based on mass and speed. -->
  <VF_RunOverPawnsTooltip>Транспортные средства могут наезжать на персонажей, нанося им дробящий урон в зависимости от массы и скорости ТС.</VF_RunOverPawnsTooltip>
  <!-- EN: Friendly Fire Chance -->
  <VF_ChanceToRunOverFriendlies>Шанс переехать своих</VF_ChanceToRunOverFriendlies>
  <!-- EN: Chance to run over friendly pawns. -->
  <VF_ChanceToRunOverFriendliesTooltip>Шанс наехать на дружественного персонажа.</VF_ChanceToRunOverFriendliesTooltip>

  <!-- Vehicle Stats -->
  <!-- EN: Stats -->
  <VF_VehicleStats>Характеристики</VF_VehicleStats>

  <!-- Upgrade Menu Settings -->
  <!-- EN: Upgrades -->
  <VF_Upgrades>Улучшения</VF_Upgrades>
  <!-- EN: Draw Upgrade Menu Info Screen -->
  <VF_DrawUpgradeInformationScreen>Показывать меню улучшений в окне информации</VF_DrawUpgradeInformationScreen>
  <!-- EN: Draw additional menu on the upgrade menu to display ship stats and ship icon. -->
  <VF_DrawUpgradeInformationScreenTooltip>Отображение дополнительного меню в окне улучшений, отображающего характеристики транспорта и его иконки.</VF_DrawUpgradeInformationScreenTooltip>
  <!-- EN: Override Draw Color -->
  <VF_OverrideDrawColor>Перекрыть цвета</VF_OverrideDrawColor>
  <!-- EN: When any upgrade is applied that comes with a pattern or draw color, the previous paint job will be overridden. -->
  <VF_OverrideDrawColorTooltip>При проведении любого усовершенствования, включающего в себя рисунок или новый цвет краски, предыдущая окраска будет перекрыта.</VF_OverrideDrawColorTooltip>
  
</LanguageData>