<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <!-- EN: VFE - Empire -->
  <VFEE>VFE - Empire</VFEE>
  <!-- EN: Terrorism Chance Multiplier -->
  <VFEE.DeserterChance>Множитель шанса террористического акта</VFEE.DeserterChance>
  <!-- EN: Nobles per title: {0} -->
  <VFEE.NoblesPerTitle>Количество персонажей каждого титула: {0}</VFEE.NoblesPerTitle>
  <!-- EN: Responsible for the number of nobles in the hierarchy. By default, one noble for each title (16), not counting the very first one. The fewer nobles, the higher the performance, but the more boring the empire.\n\nDoes not affect the already generated hierarchy. -->
  <VFEE.NoblesPerTitleDesc>Отвечает за количество представителей знати в Иерархии. По умолчанию, по одному знатному персонажу на каждый титул (16), не считая самого первого. Чем меньше представителей знати, тем выше производительность, но и тем скучнее Империя.\n\nНе влияет на уже сгенерированную Иерархию.</VFEE.NoblesPerTitleDesc>
</LanguageData>