<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <VanillaPsycastsExpanded>Vanilla Psycasts Expanded</VanillaPsycastsExpanded>
  <VPE.XPPerPercent>Psycaster XP per Psyfocus % gained</VPE.XPPerPercent>
  <VPE.PsycasterSpawnBaseChance>Basilicus Bestower Psycaster spawn chance</VPE.PsycasterSpawnBaseChance>
  <VPE.PsycasterSpawnAdditional>Basilicus Bestower Psycaster strength factor</VPE.PsycasterSpawnAdditional>

</LanguageData>