<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- EN: Individuality -->
  <SyrTraitsSettingsCategory>Individuality</SyrTraitsSettingsCategory>
  <!-- EN: Amount of traits pawns spawn with -->
  <SyrTraitsTraitCount>Количество черт, с которыми может появиться персонаж</SyrTraitsTraitCount>
  <!-- EN: Romance features disabled because of -->
  <SyrTraitsDisabled>Возможности романтики отключены из-за</SyrTraitsDisabled>
  <!-- EN: Psychology is active -->
  <SyrTraitsDisabledPsychology>мод «Psychology» активен</SyrTraitsDisabledPsychology>
  <!-- EN: Rational Romance is active -->
  <SyrTraitsDisabledRationalRomance>мод «Rational Romance» активен</SyrTraitsDisabledRationalRomance>
  <!-- EN: Disable romance features -->
  <SyrTraitsDisableRomance>Отключить романы</SyrTraitsDisableRomance>
  <!-- EN: Disables sexuality and confidence values and their effects -->
  <SyrTraitsDisableRomanceTooltip>Отключает действие настроек сексуальной ориентации и значения доверия, а также их влияние на игровой процесс</SyrTraitsDisableRomanceTooltip>
  <!-- EN: Commonality of sexualities -->
  <SyrTraitsSexualityCommonality>Распространённость ориентаций</SyrTraitsSexualityCommonality>
  <!-- EN: Straight -->
  <SyrTraitsSexualityCommonalityStraight>Гетеросексуальность</SyrTraitsSexualityCommonalityStraight>
  <!-- EN: Bi -->
  <SyrTraitsSexualityCommonalityBi>Бисексуальность</SyrTraitsSexualityCommonalityBi>
  <!-- EN: Gay -->
  <SyrTraitsSexualityCommonalityGay>Гомосексуальность</SyrTraitsSexualityCommonalityGay>
  <!-- EN: Asexual -->
  <SyrTraitsSexualityCommonalityAsexual>Асексуальность</SyrTraitsSexualityCommonalityAsexual>
  <!-- EN: Reset to default -->
  <SyrTraitsDefaultSettings>По умолчанию</SyrTraitsDefaultSettings>
  <!-- EN: Reset settings to default values -->
  <SyrTraitsDefaultSettingsTooltip>Вернуть значения к настройкам по умолчанию</SyrTraitsDefaultSettingsTooltip>

  <!-- EN: Individuality -->
  <IndividualityWindow>Individuality</IndividualityWindow>
  <!-- EN: View individuality -->
  <IndividualityTooltip>Просмотреть индивидуальность</IndividualityTooltip>
  <!-- EN: Sexuality -->
  <SexualityPawn>Сексуальность</SexualityPawn>
  <!-- EN: Which genders this person is attracted to -->
  <SexualityPawnTooltip>К людям какого пола персонаж будет испытывать влечение</SexualityPawnTooltip>
  <!-- EN: Confidence -->
  <RomanceFactor>Доверие</RomanceFactor>
  <!-- EN: How likely it is this person attempts to romance someone -->
  <RomanceFactorTooltip>Насколько велика возможность попытки начать отношения данным персонажем</RomanceFactorTooltip>
  <!-- EN: Psychic sensitivity -->
  <PsychicFactor>Психочувствительность</PsychicFactor>
  <!-- EN: This person's natural sensitivity to psychic phenomena -->
  <PsychicFactorTooltip>Чувствительность персонажа к пси-феноменам</PsychicFactorTooltip>
  <!-- EN: Body weight -->
  <BodyWeight>Масса тела</BodyWeight>
  <!-- EN: The weight of this person -->
  <BodyWeightTooltip>Масса тела персонажа</BodyWeightTooltip>
  <!-- EN: Enable edit mode -->
  <SyrIndividuality_EditModeOn>Включить режим редактирования</SyrIndividuality_EditModeOn>
  <!-- EN: Disable edit mode -->
  <SyrIndividuality_EditModeOff>Отключить режим редактирования</SyrIndividuality_EditModeOff>
  <!-- EN: Left-click a field to increase, right-click to decrease -->
  <SyrIndividuality_EditModeTooltip>ЛКМ в поле - увеличивает значение, ПКМ - уменьшает.</SyrIndividuality_EditModeTooltip>
  <!-- EN: Natural body shape -->
  <BodyWeightOffset>Естественная форма тела</BodyWeightOffset>
  <!-- EN: Da Vinci Gene -->
  <SyrTraitsDaVinciGene>Ген Да Винчи</SyrTraitsDaVinciGene>
  <!-- EN: Slow learner -->
  <SyrTraitsSlowLearnerLabel>Труднообучаемый</SyrTraitsSlowLearnerLabel>
  <!-- EN: Bonus from total skills -->
  <SyrTraitsSlowLearner>Общий бонус от навыков</SyrTraitsSlowLearner>
  <!-- EN:  Installed mod-version: {0} -->
	<SyrTraitsCurrentModVersion>Установленная версия мода: {0}</SyrTraitsCurrentModVersion>
</LanguageData>